build
build_gcc
test
src/test_package/build
src/test_py/__pycache__
src/test_cmdl_file/dst.txt
.vscode
src/rust_cmdl/text_conversion/target
src/rust_cmdl/text_conversion/Cargo.lock
src/py_doc/build
src/py_ipynb/.ipynb_checkpoints
src/asm/temp
src/asm/linux_x86_64/temp
