build
build_gcc
test
src/test_package/build
src/test_py/__pycache__
src/test_cmdl_file/dst.txt
.vscode
src/rust/text_conversion/target
src/rust/text_conversion/Cargo.lock
src/rust_cmdl/text_conversion/target
src/rust_cmdl/text_conversion/Cargo.lock
