<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title Case</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <form>
        <label for="text-field">Input:</label>
        <input type="text" id="text-field" name="text">
        <button type="submit" id="submit-button">Convert to Title Case</button>
    </form>
    Result:
    <span id="result"></span>
    <script>
        document.getElementById('submit-button').addEventListener('click', function (event) {
            event.preventDefault();
            const text = document.getElementById('text-field').value;
            const data = { 'text': text };
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/convert');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {

                var result = ""
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    result = response.result;
                }
                else {
                    result = 'Request failed: ' + xhr.status;
                }

                var div = document.getElementById("result");
                div.innerHTML = result;
            };
            xhr.send(JSON.stringify(data));
        });
    </script>
</body>
</html>
